[submodule "chromium/src"]
	path = chromium/src
	url = https://github.com/Arkapravo-Ghosh/Ark-Browser-Chromium.git
	branch = ark-browser
[submodule "depot_tools"]
	path = depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
[submodule "third_party/llama.cpp"]
	path = third_party/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
